# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
build:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}
    | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  - echo /kaniko/executor --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache --use-new-run
    --context . --dockerfile ./Dockerfile --destination $CI_REGISTRY_IMAGE
  - "/kaniko/executor --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache --use-new-run
    --context . --dockerfile ./Dockerfile --destination $CI_REGISTRY_IMAGE"
include:
- template: Security/Secret-Detection.gitlab-ci.yml
