[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.27.1"
python-telegram-bot = {extras = ["ujson"], version = "13.11"}
toml = "0.10.2"

[dev-packages]

[requires]
python_version = "3.10"
